* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0 auto;
  max-width: 1110px;
}

.article {
  padding: 25px 32px 32px 32px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.daniel {
  background-image: url(./img/comma.png);
  background-repeat: no-repeat;
  background-color: #733fc8;
  background-position: 92.65% 0;
  color: #fff;
}

.person {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  margin-bottom: 18px;
}
.person h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}

.person h5 {
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
}

.person__context {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.context__daniel {
  gap: 40px;
}

.person__text {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}

.person__suntext {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
}

.jonathan {
  background-color: #48556a;
  color: #fff;
}

.jeanette {
  background-color: #fff;
  color: #48556a;
}

.patrick {
  background-color: #19202d;
  color: #fff;
}

.kira {
  background-color: #fff;
  color: #48556a;
}

@media screen and (width > 328px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-template-rows: 282px 266px;
    gap: 24px 30px;
    margin-top: 165px;
  }

  .article {
    margin-bottom: 0;
    padding: 26px 32px 32px 32px;
  }

  .daniel {
    order: 1;
    grid-column: span 2;
  }

  .context__daniel {
    gap: 16px;
  }

  .jonathan {
    order: 2;
  }

  .jeanette {
    order: 4;
  }

  .patrick {
    order: 5;
    grid-column: span 2;
  }

  .kira {
    order: 3;
    grid-row: span 2;
  }
}
